* {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* General */

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    width: 17rem;
    height: 5rem;
    background: #0f1b4c;
    border-radius: 12px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* ======== Header ========*/
.header {
    background-color: #e6f0ff;
    height: 100vh;
    padding-top: 3.8rem;
    position: relative;
}

/* ======== Navigation ======== */
.header .nav {
    align-items: center;
    display: flex;
}

.header .Logo {
    width: 10.7rem;
    height: 2.4rem;
}

.header ul {
    display: flex;
    margin-left: 3.6rem;
}

.header li a {
    font-size: 1.4rem;
    color: #4f5361;
    margin-left: 2.8rem;
}
.header li a:hover {
    color: rgb(125, 137, 182);
    text-decoration: underline;
}
.header .action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.action-link {
    font-size: 1.4rem;
    line-height: 21px;
    color: #0f1b4c;
}

.action-btn {
    width: 9.8rem;
    height: 4rem;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 1.8rem;
}

/* ======== Hero ======== */
.hero .info {
    width: 55.9rem;
    height: 37.1rem;
    margin-top: 8rem;
}

.hero .sub-title {
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 0.8rem;
}
.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.178;
    text-transform: capitalize;
    color: #5a6473;
    margin-top: 1.8rem;
    text-transform: unset;
}

.hero .btn-cta {
    font-size: 1.3rem;
    margin-top: 3rem;
}

.hero img {
    position: absolute;
    bottom: 0;
    width: 450px;
    right: 4.6rem;
}

/* ======== Client ======== */
.client {
    padding: 8rem 0;
}

.client .col-left {
    text-align: right;
}

.client .logo {
    width: 107px;
    height: 24px;
}

.client .desc {
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
    margin-top: 1.2rem;
}

.row-client {
    margin-top: 6rem;
}

.row-client .images {
    padding: 2rem 3rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    background-color: #f5f9fc;
    border-radius: 12px;
}

.row-client .images:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ======== Guides ========*/

.guides {
    margin-top: 12rem;
    text-align: center;
}
.guides .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    position: relative;
}
.guides .sub-title::before {
    position: absolute;
    content: "";
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4.1rem;
    height: 0.4rem;
    background: #000339;
    border-radius: 12px;
}
.guides .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    width: 459px;
    height: 60px;
    color: #5a6473;
    margin: 1.6rem auto 0;
}

.guides-list {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
}
.guides-item {
    width: 133px;
    height: 127px;
    margin: 0 6rem;
}
.guides-item .image {
    width: 4.5rem;
}
.guides-item .title {
    margin-top: 2.2rem;
    font-size: 1.8rem;
    line-height: 1.1;
    color: #3b3c45;
}
.guides-item .link {
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
    margin-top: 0.8rem;
}
.guides-item .link:hover {
    color: #2b99fa;
}
.guides-item .link img {
    margin-left: 0.6rem;
}
.guides .btn {
    margin: 3.8rem auto 0;
}
/* ======== Featured ========*/
.featured {
    background: #f5fafe;
    padding: 10rem 0;
}
.featured .row {
    align-items: center;
    margin-top: 1.2rem;
}
.featured .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
.featured .link {
    font-weight: 600;
    font-size: 1.6rem;
    text-align: right;
    color: #0689ff;
    display: block;
}
.featured .link img {
    margin-left: 0.6rem;
}
.featured .list {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}
.featured .item {
    width: 350px;
    height: 357px;
    border-radius: 1.2rem;
}
.featured .item a {
    display: flex;
}
.featured .item a .thumb {
    width: 350px;
    height: 227px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}
.featured .body {
    padding: 1.6rem 2rem 2.2rem;
    background-color: #ffffff;
    border-radius: 0 0 1.2rem 1.2rem;
}
.featured .body .title a {
    font-weight: 600;
    font-size: 2rem;
    color: #000339;
}
.featured .body .desc {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    margin-top: 0.8rem;
}
.featured .info {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
}
.featured .info img {
    margin-right: 0.8rem;
}
.featured .info .lable {
    margin-right: 2.2rem;
    font-size: 1.3rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}
/* ======== Stats ========*/

.stats {
    padding: 12rem 0 4rem;
    margin-top: 7rem;
}
.stats .info {
    width: 309px;
    height: 326px;
    margin-left: 11.5rem;
}
.stats .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    position: relative;
}
.stats .sub-title::before {
    position: absolute;
    content: "";
    width: 4.1rem;
    height: 0.4rem;
    background: #000339;
    border-radius: 12px;
    top: -1rem;
}

.stats .info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    margin-top: 2rem;
}
.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    width: 400px;
    height: 460px;
    border-radius: 12px;
    margin-left: 7rem;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: -2.5rem;
    background-color: #ffffff;
    width: 239px;
    height: 250px;
    border-radius: 0 0 1.2rem 1.2rem;
    padding: 4.3rem 2rem 4.1rem;
}

.stats-trend .row {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats-trend .desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #a7a7a7;
    margin-top: 0.8rem;
}
.stats-trend .separate {
    width: 100%;
    height: 1.2px;
    background: #e9e9e9;
    margin: 2.2rem 0 1.4rem;
}

.stats-trend .avatar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.stats-trend .avatar-group {
    display: inline-flex;
    margin-right: 0.8rem;
    align-items: center;
}
.avatar-group .img,
.avatar-group span {
    width: 16.34px;
    height: 16.34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1.2rem;
    margin-left: -0.3rem;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #1f3bb1;
}
.avatar-group .img:first-child {
    margin-left: 0;
}
.avatar-block span:nth-child(2) {
    background-color: #24d6d9;
}
.avatar-block span:nth-child(3) {
    background-color: #f8c120;
}
.avatar-block span:nth-child(4) {
    background-color: #f97f6b;
}

/* ======== Subscription ========*/

/* ======== Footer ========*/
